extends layouts/login-layout.pug

block content
    div.loginContainer
        h1 Login
        p.errorMessage #{errorMessage}

        form(method="post")
            //input(type="text", name="logUsername",placeholder="Username or email", value=logUsername ,required="")
            //input(type="password", name="logPassword",placeholder="Password", required="")

            input(type="text", name="logUsername", placeholder="Username or email", value="saiprasad_07" ,required="")
            input(type="password", name="logPassword", placeholder="Password", value="123456", required="")

            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here